/config/MusicBrainz/
config/bottom/bottom.toml
config/btop/btop.log*
config/btop/themes
config/fish/fish_variables
config/github-copilot/apps.json
config/github-copilot/hosts.json
config/gpt4all.io/
config/jgit/
config/joplin-desktop/
config/jupyter/*
!config/jupyter/jupyter_lab_config.py
config/mpv/input.conf
config/mpv/shaders/
config/nix/*.yml
config/parallel/
!/config/parallel/will-cite
config/whisper.cpp/
config/zed/
!config/zed/settings.json
config/mimeapps.list
config/zsh/
