.aider.*
.zed/
*.csv
*.log
*.zip
dot_config/bottom/bottom.toml
dot_config/btop/btop.log.1
dot_config/btop/themes
dot_config/fish/fish_variables
dot_config/github-copilot/apps.json
dot_config/github-copilot/hosts.json
dot_config/gpt4all.io
dot_config/jgit
dot_config/joplin-desktop/
dot_config/jupyter/*
!dot_config/jupyter/jupyter_lab_config.py
dot_config/mpv/input.conf
dot_config/mpv/shaders
dot_config/nix/*.yml
dot_config/parallel/*
!/dot_config/parallel/will-cite
dot_config/whisper.cpp/
dot_config/zed/*
!dot_config/zed/settings.json
dot_config/zsh/.env
dot_config/zsh/.zcompcache
dot_config/zsh/.zcompdump*
dot_config/zsh/.zsh_history
dot_config/zsh/.zsh_sessions/
dot_config/zsh/functions/
fishd.*
