.aider.*
*.csv
*.log
*.zip
config/bottom/bottom.toml
config/btop/themes
config/fish/fish_variables
config/github-copilot/hosts.json
config/gpt4all.io
config/jgit
config/jupyter/*
!config/jupyter/jupyter_lab_config.py
config/mpv/input.conf
config/mpv/shaders
config/parallel/*
!/config/parallel/will-cite
config/zed/*
!config/zed/settings.json
config/zsh/.env
config/zsh/.zcompcache
config/zsh/.zcompdump*
config/zsh/.zsh_history
config/zsh/.zsh_sessions/
fishd.*
