#!/usr/bin/env bash
zmodule joke/zim-starship

zmodule zsh-users/zsh-completions --fpath src
zmodule completion

zmodule environment
zmodule input
zmodule run-help

zmodule ssh

zmodule zsh-users/zsh-autosuggestions

zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-syntax-highlighting
