#!/usr/bin/env bash

: # for shellcheck scope

# shellcheck disable=SC2016
zmodule romkatv/powerlevel10k --if '[[ $__PROMPT_THEME == powerlevel10k ]]'
# shellcheck disable=SC2016
zmodule joke/zim-starship --if '[[ $__PROMPT_THEME == starship ]]'

zmodule zsh-users/zsh-completions --fpath src
zmodule completion

zmodule environment
zmodule input
zmodule run-help

zmodule ssh

zmodule zsh-users/zsh-autosuggestions

zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-syntax-highlighting
